<br>
<div class="container" style="padding-right: 7%; padding-left:7%;">
    <div class="col-md-12 nopadding" style="background-color:#F4EFE1;padding:15px 0 30px 0">
        <div class="col-md-6">
            <img class="img-responsive" src="https://tastytufts.files.wordpress.com/2014/01/trattoriadiane-dreamhosters-com.jpeg">
        </div>
        <div class="col-md-6">
            <h1 class="text">Thank you For Visiting My site</h1>
            <p class="text-danger">*this page needs work*</p>
            <a href="http://www.josemedina.io" target="_blank">
                <p>Personal Portfolio</p>
            </a>
            <a href="https://www.linkedin.com/in/josemedina760" target="_blank">
                <p>LinkedIn</p>
            </a>
            <a href="https://github.com/josemedina760" target="_blank">
                <p>Github</p>
            </a>
        </div>
    </div>
</div>
