<div id="title">
    <div id="imgcenter">
        <img width="395" height="91" src="http://static.wixstatic.com/media/3f1dbf_f4b4a2d822774407a92e4934435bd382.png_srb_p_444_91_75_22_0.50_1.20_0.00_png_srb" />
    </div>
    <h1 id="heading">CITY BAKERY</h1>
</div>
<div id="menubar">
    <div id="home">
        <a href="#">
            <p class="menusep" style="color:white">
                HOME
            </p>
        </a>
    </div>
    <div id="about" class="click">
        <a href="#">
            <p class="menusep">
                ABOUT
            </p>
        </a>
    </div>
    <div id="menu" class="click">
        <a href="#">
            <p class="menusep">
                MENU
            </p>
        </a>
    </div>
    <div id="contact" class="click">
        <a href="#">
            <p class="menusep">
                CONTACT
            </p>
        </a>
    </div>
    <div id="phoneorder">
        <a href="#">
            <p class="menusep" id="phonetext">
                Orders 1.800.000.0000
            </p>
        </a>
    </div>
</div>
<div id="content">
    <div id="box1">
        <img id="imgbox1" height="470" width="299" src="http://static.wixstatic.com/media/189a587f3b713716c6b7c1addd4f8fb4.jpg_srz_p_299_482_75_22_0.50_1.20_0.00_jpg_srz" />
    </div>
    <div id="box2">
        <div id="img1box2">
            <img id="image1setting" src="http://static.wixstatic.com/media/41d000_48ad029824b148e4b7bd13444ad295c9.jpg_srz_p_299_225_75_22_0.50_1.20_0.00_jpg_srz" />
        </div>
        <div id="img2box2">
            <img id="image2setting" src="http://static.wixstatic.com/media/41d000_f7ba1019e0d44b4593129810220ca6b3.jpg_srz_p_299_225_75_22_0.50_1.20_0.00_jpg_srz" />
        </div>
        <div id="textbgbox2">
            <h2 id="textbox2">PASTRY LOVE</h2>
        </div>
    </div>
    <div id="box3">
        <h1 id="headingbox3">Welcome!</h1>
        <p id="textbox3">
            Here at The City Bakery, baking is our passion. We use only the finest and freshest ingredients to create pastries that will fill your belly and warm your heart. Come and visit - your taste buds will thank you!
        </p>
        <h1 id="signaturebox3">Jose Medina</h1>
        <div id="mediabox3">
            <img src="http://static.wixstatic.com/media/5e966e0f0a673434ef82173642bd4ef9.png_srz_p_30_30_75_22_0.50_1.20_0.00_png_srz" />
            <img src="http://static.wixstatic.com/media/3ab1a351034dea3a35bdb4f03301c088.png_srz_p_30_30_75_22_0.50_1.20_0.00_png_srz" />
            <img src="http://static.wixstatic.com/media/13ab93739771c3a90bf78b73eaae3a68.png_srz_p_30_30_75_22_0.50_1.20_0.00_png_srz" />
        </div>
    </div>
</div>
<div id="footer">
    <div id="foot1">
        <h4 class="nomarginh">ORDERS</h4>
        <p class="nomarginp">
            Phone 1.800.000.0000
            <br /> Email info@thebakery.com
        </p>
    </div>
    <div id="foot2">
        <h4 class="nomarginh">FOLLOW US</h4>
        <img src="http://static.wixstatic.com/media/5e966e0f0a673434ef82173642bd4ef9.png_srz_p_30_30_75_22_0.50_1.20_0.00_png_srz" />
        <img src="http://static.wixstatic.com/media/3ab1a351034dea3a35bdb4f03301c088.png_srz_p_30_30_75_22_0.50_1.20_0.00_png_srz" />
        <img src="http://static.wixstatic.com/media/13ab93739771c3a90bf78b73eaae3a68.png_srz_p_30_30_75_22_0.50_1.20_0.00_png_srz" />
    </div>
    <div id="foot3">
        <h4 class="nomarginh">ADDRESS</h4>
        <p class="nomarginp">
            500 Terry Francois St.
            <br /> San Francisco, CA
            <br />94158
        </p>
    </div>
    <div id="foot4">
        <h4 class="nomarginh">HOURS</h4>
        <p class="nomarginp">
            Mon – Thur 6AM - 7PM
            <br /> Friday 6AM - 9PM
            <br /> Saturday 7AM - 9PM
            <br /> Sunday 7AM - 7PM
            <br />
        </p>
    </div>
    <div id="foot5">
        <p class="nomarginp" style="padding-top:20px">
            © 2015 by City Bakery.
            <br /> Proudly created By
            <br /> Jose Medina
            <br />
            <a href="#" style="color:#3A1C13;text-decoration:underline">
                    Josemedina.com
                </a>
        </p>
    </div>
</div>
