@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Mr+De+Haviland);
body {
    background: url(./images/bakerybg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.nopadding {
    padding: 0;
}

#title {
    margin: 0 0 0 0;
    height: 140px;
}

#imgcenter {
    position: absolute;
    z-index: -5;
    height: 90px;
    width: 100%;
}

#heading {
    position: relative;
    margin: 0;
    z-index: 2;
    font: normal normal bold 41px/1.4em 'noticia text', serif;
    color: #3A1C13;
    letter-spacing: 1.2px;
    padding-top: 13px;
}

@media (max-width:400px) {
    #heading {
        font-size: 28px;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .hide {
        display: none;
    }
}

#menubar {
    margin-top: 50px;
    background-color: #F4EFE1;
    height: 30px;
}

#mobileMenu {
    background-color: #F4EFE1;
    height: 48px;
    display: none;
    border-bottom: 2px #54392F solid;
}

@keyframes nav {
    from {
        top: -56px;
    }
    to {
        top: 48px;
    }
}

#navlist {
    position: absolute;
    cursor: pointer;
    background-color: #E87330;
    list-style-type: none;
    color: #fff;
    padding: 10px;
}

.norm {
    animation: nav 2s;
    animation-fill-mode: forwards;
}

.rev {
    animation: nav 2s !important;
    animation-direction: reverse !important;
}

#menuOrder {
    padding: 6px 0 7px 0;
    margin: 0;
    font-size: 12px;
}

@media (max-width:995px) {
    #menuOrder {
        font-size: 8px;
        padding: 9px 0 10px 0;
    }
}

@media (max-width:800px) {
    #menubar {
        display: none;
    }
    #mobileMenu {
        display: block;
    }
    #hamburger {
        font-size: 46px;
        float: right;
        color: #fff;
        background-color: #3A1C13;
        position: inherit;
        bottom: 1px;
    }
    #heading {
        padding-bottom: 15px;
    }
}

@keyframes menuhover {
    to {
        background-color: #E87330;
        color: white !important;
    }
}

@keyframes orderhover {
    to {
        background-color: #3A1C13;
        color: #9b6a5d;
    }
}

.menusep {
    text-decoration: none;
    text-align: center;
    color: #3A1C13;
    font: normal normal bold 12px/1.4em 'noticia text', serif;
    font-size: 14px;
    padding: 5px 0 6px 0;
    margin: 0;
}

#orders {
    background-color: #E87330;
    color: white;
}

#orders:hover {
    animation-name: orderhover;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

.links {
    color: #3A1C13;
    font: normal normal bold 12px/1.4em 'noticia text', serif;
    font-size: 14px;
    text-decoration: none;
}

.menusep:hover {
    animation-name: menuhover;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

.menusep:hover .links {
    text-decoration: none;
    color: #fff;
}

#phoneorder {
    width: 242.2px;
    height: 30px;
    display: inline-block;
    background-color: #E87330;
}

#phonetext {
    color: white;
    font-weight: normal;
    font-family: helvetica;
}

#box1 {
    height: 488px;
}

#box1img {
    max-height: 488px;
    border: solid 10px #F4EFE1;
    width: 96%;
}

#box2 {
    height: 488px;
}

#box2img1 {
    border: solid 10px #F4EFE1;
    max-height: 252px;
    width: 97%;
}

#box2img2 {
    width: 97%;
    max-height: 244px;
    margin-top: 20px;
    border: solid 10px #F4EFE1;
}

#textbgbox2 {
    position: absolute;
    right: 25%;
    top: 44%;
    background-color: #E87330;
    width: 155px;
    padding: 10px;
}

#textbox2 {
    text-align: center;
    color: #F4EFE1;
    margin: 0;
    border: solid thin;
    font-family: 'noticia text', serif;
}

#box3 {
    background-color: #F4EFE1;
    height: 488px;
}

#headingbox3 {
    font: normal normal bold 40px/1.4em 'noticia text', serif;
    color: #3A1C13;
    letter-spacing: 1.2px;
    padding-top: 50px;
    padding-left: 29px;
}

#textbox3 {
    font-family: Helvetica;
    padding: 0 30px 0 30px;
    line-height: 27px;
    color: #3A1C13;
}

@media only screen and (max-width: 650px) {
    #textbgbox2 {
        display: none;
    }
    #box1 {
        height: 100%;
    }
    #box1img {
        max-height: 100%;
        border: solid 10px #F4EFE1;
        width: 96%;
    }
    #box2 {
        height: 100%;
    }
    #box3 {
        margin-top: 15px;
        height: 100%;
        padding-bottom: 15px;
    }
    #headingbox3 {
        font-size: 24px;
        color: #3A1C13;
        letter-spacing: 1.2px;
        padding-top: 0;
    }
    #textbox3 {
        font-family: Helvetica;
        padding: 0 30px 0 30px;
        line-height: 20px;
        color: #3A1C13;
    }
}

.pointer {
    cursor: pointer;
}

#signaturebox3 {
    font-family: 'Mr De Haviland', cursive;
    color: #3A1C13;
    padding: 15px 30px 20px;
    font-weight: 500;
}

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.ficon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#mediabox3 {
    margin-left: 30px;
}

#footer {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #F4EFE1;
    margin-bottom: 50px;
    padding: 20px;
}

#foot1 {
    height: 100px;
    text-align: center;
    border-right: dotted 1px;
}

#foot2 {
    height: 100px;
    text-align: center;
    border-right: 1px dotted;
}

#foot3 {
    height: 100px;
    border-right: 1px dotted;
    text-align: center;
}

#foot4 {
    height: 100px;
    border-right: 1px dotted;
    text-align: center;
}

#foot5 {
    height: 100px;
    text-align: center;
}

.nomarginh {
    margin: 0 0 5px 0;
    font-family: 'noticia text', cursive;
    font-size: 20px;
}

.nomarginp {
    margin: 0;
    font-family: Helvetica;
    font-size: 13px;
    line-height: 17px;
    color: #653121;
}

.col-md-12 {
    padding-right: 0 !important;
}

.project {
    display: block;
    background: #E87330;
    width: 280px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
}

.content h3 {
    font-family: 'noticia text', cursive;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.content p {
    color: #3c763d;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.menuimg {
    position: relative;
    height: 220px;
    width: 280px;
    border: solid 7px #E87330
}

.menuimgprice {
    color: #3c763d;
    font-size: 16px;
    font-weight: 400;
    font-family: 'noticia text', cursive;
}

.pricebg {
    background-color: #F4EFE1;
    padding: 8px;
    display: inline;
    border-top-right-radius: 20px;
    border-top: solid 3px #94491E;
    position: absolute;
    border-right: solid 2px #94491E;
    bottom: 51px;
    left: 25px;
}

#menu {
    font-family: 'noticia text', cursive;
    color: #fff;
    border: double 6px #ffe5d8;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

#contact {
    font-family: 'noticia text', cursive;
    color: #fff;
    border: solid 1px #ffe5d8;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#reservation {
    font-family: 'noticia text', cursive;
    color: #fff;
    border: solid 1px #ffe5d8;
    font-size: 14px;
    text-align: center;
    margin: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}

.text {
    font-family: 'noticia text', cursive;
    color: #653121;
}

#contactForm {
    border: 6px solid #3A1C13;
    padding: 2em;
    text-align: center;
    background: #F4EFE1;
    margin-top: 10px;
}

input,
textarea {
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    display: block;
    width: 280px;
    padding: .4em;
}

textarea {
    height: 80px;
    resize: none;
}

.formBtn {
    transition: background-color 0.5s ease;
    width: 140px;
    display: inline-block;
    background-color: #E87330;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
}

.formBtn:hover {
    background-color: #f79e6f;
}

.aboutxt {
    color: #3A1C13
}

.angular-google-map-container {
    height: 382px;
}
