<br>
<div class="container">
    <div class="col-md-12 nopadding">
        <div id="contact">
            <img class="contactimg" src="./css/images/contact.jpg">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="tabheader contactheader">
                    <p class="tabtext">Contact Us!</p>  
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
    <div class="col-md-12 nopadding" id='contactinfo'>
        <div class="col-md-6 nopadding" id='formcontainer'>
            <div id="reservation">
                <p>
                    <b style='font-size:18px'>RESERVATIONS</b>
                    <br> Phone 1.800.123.4567 | Email Josemedina760@gmail.com
                </p>
            </div>
            <div id="contactForm">
                <p class="text" style="font-size:18px;font-weight:900">ONLINE ORDERING</p>
                <small class='text'>Order From your phone right now! Orders usually take about 5 minutes to be ready. Fast and reliable service with a smile</small>
                <form ng-submit='show = true'>
                    <input placeholder="Name" type="text" ng-model='name' required />
                    <input placeholder="Email" type="email" ng-model='email' required />
                    <input placeholder="Subject" type="text" ng-model='subject' required />
                    <textarea placeholder="Comment" ng-model='comment'></textarea>
                    <p ng-show='show' class="text-success text-center">Message Sent!!( Not actually,Just for demo purposes)</p>
                    <input class="formBtn" type="submit" />
                    <input ng-click='name="";email="";subject="";comment=""' class="formBtn" type="reset" />
                </form>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="marker.coords" idkey="1"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
