<br>
<div class="container" style="padding-right: 8%; padding-left:8%;">
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="col-md-4 nopadding">
                <img id='box1img' class="img-responsive" src="./css/images/bakery12.jpg" />
            </div>
            <div class="col-md-4 nopadding" id="box2">
                <img id="box2img1" class="img-responsive" src="./css/images/bakery2.jpg" />
                <div id="textbgbox2">
                    <h2 id="textbox2">SWEET LOVE</h2>
                </div>
                <img id="box2img2" class="img-responsive" src="./css/images/bakery3.jpg" />
            </div>
            <div class="col-md-4" id="box3">
                <h1 id="headingbox3">Welcome!</h1>
                <p id="textbox3">
                    Here at The Jose's Bakery, baking is our passion. We use only the finest and freshest ingredients to create pastries that will fill your belly and warm your heart. Come and visit - your taste buds will thank you!
                </p>
                <h1 id="signaturebox3">Jose Medina</h1>
                <div id="mediabox3">
                    <img class='icon' src="./css/images/facebook.png" />
                    <img class='icon' src="./css/images/twitter.png" />
                    <img class='icon' src="./css/images/dopplr.png" />
                    <img class='icon' src="./css/images/rss.png" />
                </div>
            </div>
        </div>
    </div>
</div>
